.DS_Store
.AppleDouble
.LSOverride
iisnode.yml
npm-debug.log

db/shortly.sqlite
node_modules

views/partials/index.ejs
views/partials/layout.ejs



# Icon must ends with two \r.
Icon




# Floobits
.floo
.floobit
.floo
.flooignore
